// Add custom font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@font-face { font-family: 'FoundryContext-RegularItalic'; 
src: url('webfont/FoundryContext-RegularItalic.eot?#iefix') format('embedded-opentype'), 
url('webfont/FoundryContext-RegularItalic.otf') format('opentype'), 
url('webfont/FoundryContext-RegularItalic.woff') format('woff'), 
url('webfont/FoundryContext-RegularItalic.ttf') format('truetype'), 
url('webfont/FoundryContext-RegularItalic.svg#FoundryContext-RegularItalic') format('svg'); 
font-weight: normal; font-style: normal; }

@font-face { font-family: 'FoundryContext-Regular'; src: url('webfont/FoundryContext-Regular.eot?#iefix') format('embedded-opentype'), url('webfont/FoundryContext-Regular.otf') format('opentype'), url('webfont/FoundryContext-Regular.woff') format('woff'), url('webfont/FoundryContext-Regular.ttf') format('truetype'), url('webfont/FoundryContext-Regular.svg#FoundryContext-Regular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'FoundryContext-Medium'; src: url('webfont/FoundryContext-Medium.eot?#iefix') format('embedded-opentype'), url('webfont/FoundryContext-Medium.otf') format('opentype'), url('webfont/FoundryContext-Medium.woff') format('woff'), url('webfont/FoundryContext-Medium.ttf') format('truetype'), url('webfont/FoundryContext-Medium.svg#FoundryContext-Medium') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'FoundryContext-ExtraBold'; src: url('webfont/FoundryContext-ExtraBold.eot?#iefix') format('embedded-opentype'), url('webfont/FoundryContext-ExtraBold.otf') format('opentype'), url('webfont/FoundryContext-ExtraBold.woff') format('woff'), url('webfont/FoundryContext-ExtraBold.ttf') format('truetype'), url('webfont/FoundryContext-ExtraBold.svg#FoundryContext-ExtraBold') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'FoundryContext-Demi'; src: url('webfont/FoundryContext-Demi.eot?#iefix') format('embedded-opentype'), url('webfont/FoundryContext-Demi.otf') format('opentype'), url('webfont/FoundryContext-Demi.woff') format('woff'), url('webfont/FoundryContext-Demi.ttf') format('truetype'), url('webfont/FoundryContext-Demi.svg#FoundryContext-Demi') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'FoundryContext-Bold'; src: url('webfont/FoundryContext-Bold.eot?#iefix') format('embedded-opentype'), url('webfont/FoundryContext-Bold.otf') format('opentype'), url('webfont/FoundryContext-Bold.woff') format('woff'), url('webfont/FoundryContext-Bold.ttf') format('truetype'), url('webfont/FoundryContext-Bold.svg#FoundryContext-Bold') format('svg'); font-weight: normal; font-style: normal; }


// Import bootstrap and fontawesome
@import "custom-variables";
@import "../../jspm_packages/github/twbs/bootstrap-sass@3.3.7/assets/stylesheets/bootstrap";
@import "../../jspm_packages/npm/font-awesome@4.6.3/scss/font-awesome";

@import "charts";
@import "checkboxes";

/** Navigation bar across the top of the page **/

//*navbar-brand*//
//
//This is where the logo is contained in the upper left corner
//of the navbar.
//Make the height inherit in order to have the pixel size of
//height: 156px and width: 41px show correctly.
.navbar-brand {
  height: inherit;
}

//*navbar-default and navbar-nav//
//
//These are the navigation links on the right side
//of the navbar (Back to iQ, Logout)
//
//Adjust margin to have links sit towards the bottom
//of the navbar (otherwise it sits towards the top)
//Increase the font-size and change color to Vantiv brand
//dark gray
.navbar-default .navbar-nav > li > a {
  margin-top: 28px;
  font-size: 20px; 
  color: $gray-dark;
}


//*navbar-default*//
//
//This is the class that controls the styling of the navigation bar
//across the top of the page (where the logo and navigation links
//such as Logout and Back to iQ are located) - This class is contained
//within the page-content-wrapper class
//
//Customizations made to change the background color to white, create a box-shadow
//effect and adjust height to 80 px to make the bar taller
//and increase the bottom margin to add more space between navbar and
//content containers
.navbar-default {
  background-color: $white;
  box-shadow: 0px 2px 2px 0px rgba(2, 2, 2, 0.2);
  height: 80px;
  margin-bottom: 37px;
}

/** Page content **/

//This uses CSS3's flexbox layout to make columns within the given row the samw height


.container-fluid {
  padding-left: 26px;
  padding-right: 36px;
}

//* Buttons **//
.btn-link, .btn:hover {
  border-style: dashed;
  border-color: $brand-info;
}

/** Page content **/

//** Panels **//

.panel { //!!!!!!!need to clean up and make modular later!!!!
  margin: 20px 10px 0 10px;
  border-radius: 2px;
  max-height: 600px;
  font-size: 13px;
 a{
  font-size: 12px;
}

//** Panel Body **//
// Add height to 100% to keep the panel footer
// fixed at the bottom.
.panel-body {
  height: 100%;
}

//** Panel Footer **//

//Use for panel footer background brand colors success and danger
.success{
  background-color: transparentize($brand-success, 0.85);
}


.danger{
  background-color: transparentize($brand-danger, 0.85);
}


.alert {
  margin-bottom: 0px;
}


// Checkboxes in the panel footers
// using bootstrap btn class and font awesome check
// icon. Icon will appear when button is active,
// and disappear when it is not.
.panel-footer .btn > i.fa {
    opacity: 0;

}

.panel-footer .btn.active > i.fa {
    opacity: 1;

}


}
@media only screen and (min-width : 768px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }

    .flex-row .thumbnail,
.flex-row .caption,
.flex-row .panel{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

}
.flex-row .panel-group{
  overflow-y: auto;
}
.flex-row .panel-body{
  overflow-y: auto;
}
.flex-text {
    flex-grow: 1;
}
.flex-row img {
    width: 100%;
}
}

//** Custom Table **//
tbody {
    color: #8b8c8d;
}

//** D3 axis text **//
.tick text {
    font-family: "Source Sans Pro";
    font-size: 9px;
    fill: #8b8c8d;
}

//** Header Fonts **//
h1, h2, h3, h4, h5, h6 {
    font-family: "Foundry Context", "Source Sans Pro"; 
}

//** SVG **//
svg, svg:not(:root) {
    overflow: visible;
}